<div class="p-menu p-component w-full md:w-60">
    <span class="inline-flex items-center gap-1 px-6 py-2">
        <h1 style="font-size: 44px;">Spendly</h1>
    </span>
    <ul class="p-menu-list p-reset">
        <ng-container *ngFor="let menu of menuItems">
            <ng-container *ngIf="(menu.items?.length ?? 0) > 1; else singleItem">
                <li class="p-menu-submenu-label flex items-center justify-between cursor-pointer" (click)="toggleGroup(menu)">
                    <span class="text-primary font-bold">{{ menu.label }}</span>
                    <span class="pi pi-chevron-down submenu-chevron" [class.expanded]="menu.expanded"></span>
                </li>
                <li class="submenu-collapse" [class.expanded]="menu.expanded">
                    <ul class="p-menu-list p-reset submenu-inner">
                        <li class="p-menu-item" *ngFor="let sub of menu.items">
                            <a pRipple class="flex items-center p-menu-item-link" [class.active-menu-item]="isActive(sub)" (click)="navigateToPage(sub)">
                                <span class="p-menu-item-icon" [ngClass]="sub.icon"></span>
                                <span class="ml-2">{{ sub.label }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ng-container>
            <ng-template #singleItem>
                <li class="p-menu-item">
                    <a pRipple class="flex items-center p-menu-item-link" [class.active-menu-item]="isActive(menu)" (click)="navigateToPage(menu)">
                        <span class="p-menu-item-icon" [ngClass]="menu.icon"></span>
                        <span class="ml-2">{{ menu.label }}</span>
                    </a>
                </li>
            </ng-template>
        </ng-container>
    </ul>
</div>
